<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>语行</title>
    <link href="../linggo.css" rel="stylesheet"/>
    <script src="../linggo.js"></script>
    <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/mdui/1.0.2/js/mdui.min.js" type="application/javascript"></script>
    <link href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/mdui/1.0.2/css/mdui.min.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap"
          rel="stylesheet"/>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            init_page("about");
        };
    </script>
</head>
<body class="mdui-loaded mdui-drawer-body-left mdui-appbar-with-toolbar">
<div id="appbar-placeholder"></div>
<div id="content">
    <div class="mdui-container mdui-text-center">
        <div class="banner">
            <h1 id="version">语行</h1>
            <div class="meta">AI 赋能的个性化英语学习应用</div>
            <div class="more-meta mdui-typo">
                <span>
                    <a href="https://www.uestc.edu.cn/" rel="nofollow" target="_blank">电子科技大学</a>
                </span>
                <span>
                    <a href="https://github.com/caozhanhao/linggo" rel="nofollow" target="_blank">Github: caozhanhao/linggo</a>
                </span>
            </div>
        </div>
        <div class="info">
            <h3>开发</h3>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/caozhanhao'">曹展豪
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/24k-zhuying'">朱银
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/HRDNB'">胡润东
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/11xhm'">谢洪鸣
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/ca1tshame'">曾昱博
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>