<body class="mdui-loaded mdui-drawer-body-left mdui-appbar-with-toolbar">
<div id="appbar-placeholder"></div>
<div id="content">
    <div class="mdui-container mdui-text-center">
        <div class="banner">
            <h1>语行</h1>
            <div class="meta">AI 赋能的个性化英语学习应用</div>
            <div class="more-meta mdui-typo">
                <span>
                    <a href="https://www.uestc.edu.cn/" rel="nofollow" target="_blank">电子科技大学《程序设计项目实践 (PBLF) 》作品</a>
                </span>
                <br/>
                <span>
                    <a href="https://github.com/caozhanhao/linggo" rel="nofollow" target="_blank">Github: caozhanhao/linggo</a>
                </span>
            </div>
        </div>
        <div class="info">
            <h3>开发者</h3>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/caozhanhao'">曹展豪
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/24k-zhuying'">朱银
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/HRDNB'">胡润东
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/11xhm'">谢洪鸣
                </span>
            </div>
            <div class="mdui-chip">
                <span class="mdui-chip-icon mdui-color-indigo">
                    <i class="mdui-icon material-icons">developer_mode</i>
                </span>
                <span class="mdui-chip-title"
                      onclick="window.location.href='https://github.com/ca1tshame'">曾昱博
                </span>
            </div>
        </div>
    </div>
</div>
</body>
