<body class="mdui-loaded mdui-drawer-body-left mdui-bottom-nav-fixed mdui-appbar-with-toolbar">
<div id="appbar-placeholder"></div>
<div id="content">
    <div id="memorize-swipe">
    </div>
    <div class="mdui-container explanation" id="explanation">
    </div>
    <div class="mdui-bottom-nav mdui-color-white">
        <a onclick="prev_word()">
            <i class="mdui-icon material-icons">navigate_before</i>
            <label>上一个</label>
        </a>
        <a onclick="next_word(true)">
            <i class="mdui-icon material-icons">navigate_next</i>
            <label>下一个</label>
        </a>
        <a onclick="mark_word(memorize_index)">
            <i class="mdui-icon material-icons">star</i>
            <label>收藏</label>
        </a>
    </div>
</div>
</body>
