h1 {
    font-weight: 700;
    font-size: xx-large
}

p {
    font-weight: 400;
    font-size: large
}

body {
    font-family: "Google Sans";
}

.copyright {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px
}

.copyright p {
    margin: 0;
    overflow: hidden;
    color: rgba(0, 0, 0, .38);
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mdui-theme-layout-dark .copyright p {
    color: hsla(0, 0%, 100%, .38)
}

.drawer {
    display: flex;
    flex-direction: column;
}

.drawer-content{
    padding-left: 16px;
    padding-right: 16px;
}

.drawer .account-name{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
        color: white;
}

.drawer .account-info
{
    padding-top: 16px;
    background-color: #64B5F6   ;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

.drawer .mdui-list {
    flex: 1;
    box-sizing: border-box
}

.drawer .mdui-list-item {
    border-radius: 6px 6px 6px 6px
}

.drawer .mdui-list-item-icon {
    transform: scale(.875)
}

.drawer .mdui-list-item-content {
    font-weight: 400;
    font-size: 14px
}

.drawer .mdui-list-item-active {
    color: #1a73e8;
    background-color: #e8f0fe
}

.mdui-theme-layout-dark .drawer .mdui-list-item-active {
    color: #fff;
    background-color: #424242
}

.drawer .mdui-list-item-active .mdui-list-item-icon {
    color: #1a73e8
}

.mdui-theme-layout-dark .drawer .mdui-list-item-active .mdui-list-item-icon {
    color: #fff
}

.banner {
    padding-top: 48px;
    padding-bottom: 64px;
}

.banner h1 {
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 32px
}

.banner .meta {
    margin: 0 auto 48px;
    font-size: 20px;
    opacity: .76
}

.banner .more-meta span+span {
    padding-left: 8px
}

@media screen and (max-width: 600px) {
    .banner {
        padding-top:20px;
        padding-bottom: 32px
    }

    .banner h1 {
        font-size: 22px
    }

    .banner .meta {
        margin-bottom: 38px;
        font-size: 16px
    }

    .banner .more-meta span:first-child {
        display: block
    }
}

.info h2{
    font-weight: 400;
}

.explanation
{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
}

.tester {
    padding-left: 16px
}

.example
{
    font-family: 'Times New Roman';
    font-size: 16px;
}

.meaning
{
    font-size: 16px;
}

li::marker
{
    font-size: 18px;
}

.collocation
{
    font-size: 20px;
}

.discrimination
{
    font-size: 18px;
}

.quiz-option
{
    border-radius: 8px;
}

.explanation_quiz
{
    font-size: 16px;
}

.dialog-interface {
    max-width: 448px;
    overflow-y: auto;
}
.dialog-interface > [mdui-dialog-close] {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    color: white;
}
.dialog-interface > .mdui-dialog-title {
    margin-bottom: 24px;
    padding: 146px 40px 28px;
}
.dialog-interface > form {
    padding: 0 40px 70px;
}
.dialog-interface .actions {
    margin-top: 24px;
    display: flex;
}
.dialog-interface .actions > .divider {
    flex: 1 1;
}
.dialog-interface .actions > .more-options {
    margin-left: -16px;
}
@media (max-width: 599.9px) {
    .dialog-interface {
        position: fixed!important;
        top: 0!important;
        right: 0!important;
        bottom: 0!important;
        left: 0!important;
        width: 100%!important;
        max-width: none!important;
        height: 100%!important;
        max-height: none!important;
        margin: 0!important;
        border-radius: 0!important;
    }
    .dialog-interface > [mdui-dialog-close] {
        top: 10px;
        left: 8px;
    }
    .dialog-interface > .mdui-dialog-title {
        padding: 10px 16px 10px 52px;
        line-height: 36px;
    }
    .dialog-interface > form {
        padding: 0 24px 24px;
    }
    .dialog-interface .actions {
        margin-top: 14px;
    }
}

.locate-word
{
    position: fixed;
    right: 16px;
    bottom: 72px;
}

.swipeleft
{
    position: fixed;
    right: 16px;
    top: 50%;
}

.swiperight
{
    position: fixed;
    left: 16px;
    top: 50%;
}

#word-preview
{
    font-size: 20px;
}

#memorize-swipe
{
    position: fixed;
    height: 100%;
    width: 100%;
}

@media (max-width: 599.9px) {
    .search-bar-container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: auto;
        margin-left: auto;
        padding-right: 8px;
        padding-left: 8px;
    }
    .search-bar-container::after {
        display: table;
        clear: both;
        content: '';
    }
    .search-bar-container {
        width: 100%;
        max-width: 1280px;
    }
    .search-bar-hidden
    {
        display: none;
    }
}

.mdui-grid-list {
    font-size: 16px;
}